<h1 style="padding: 10px;">Website</h1>
<div class="main">
  <app-menu class="menu block"></app-menu>
  <div class="windows block">
    <ul class="tabs">
      <li class="tab">
        <span>Tab 1</span>
        <input type="image" src="assets/close.svg" class="tab__button" />
      </li>
      <li class="tab">
        <span>Tab 1</span>
        <input type="image" src="assets/close.svg" class="tab__button" />
      </li>
      <li class="tab">
        <span>Tab 1</span>
        <input type="image" src="assets/close.svg" class="tab__button" />
      </li>
    </ul>
    <div class="content">
      <button class="">dsadsadsa</button>
      <input type="text">
    </div>
  </div>
</div>