<!-- <h1 style="padding: 10px;">Website</h1>
<div class="main">
  <app-menu class="menu block"
  (onSelected)="onSelectedItem($event)"
  ></app-menu>
  <div class="windows block">
    
    <ul class="tabs">
      <li *ngFor="let tab of tabs;index as i"  class="tab" [ngClass]="selectedTab==i ? 'tab-active' : 'tab'">
        <span (click)="onTabSelected(i)">{{tab}}</span>
        <input type="image" src="assets/close.svg" class="tab__button" (click)="onTabDeleted(i)" />
      </li>
    </ul>
    <div class="content">
      <button class="">dsadsadsa</button>
      <input type="text">
    </div>
  </div>
</div> -->
<my-app style="height: 100%;display: flex;flex-direction: column;"></my-app>